.episode-image {
  width: 250px;
  height: 140px;
  min-width: 250px;
}

.episode-image p {
  font-size: 2rem;
  margin: 0;
}

@media (max-width: 576px) {
  .episode {
    flex-direction: column;
    align-items: flex-start !important ;
    justify-content: flex-start;
  }
  .episode-content {
    padding: 0 !important;
    margin-top: 20px;
  }
}
