.show-image {
  width: 210px;
  height: 295px;
}
.show-image p {
  font-size: 2rem;
  margin: 0;
}

@media (max-width: 576px) {
  .show-container {
    flex-direction: column;
    align-items: flex-start !important ;
    justify-content: flex-start;
  }
  .show-content {
    padding: 0 !important;
    margin-top: 10px;
  }
}
