.show-select {
  width: auto;
}

@media (max-width: 900px) {
  .replace-container {
    flex-direction: column;
    align-items: flex-start !important ;
    justify-content: flex-start;
  }
  .replace-content {
    margin-top: 20px;
  }
}
